@import url('https://fonts.googleapis.com/css2?family=Lora&family=PT+Serif&display=swap');
content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}
hero-msg {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#backround {
    height: 725px;
    background-color:#006d77;
}
body {
    background-color:#006d77;
    padding:4em;
}
header{
    background-color:#83C5BE;
    padding: 1em;
}
footer{
    background-color:#83C5BE;
}
nav a:hover{
    background-color:#FFDDD2;
    color: black;
    text-decoration: underline;
}
.book{
    background-color:#E29578;
    color: black;
    text-decoration: none;
}
.join{
    background-color:#E29578;
    color: black;
    text-decoration: none;
}
.book:hover {
    background-color:#FFDDD2;
    color: black;
}
.msg{
    background-color:#E29578;
}
.home-title{
    color: black;
}
h1, h2, h3, h4{
    font-family:"PT Serif";
    color: black;
}
.join:hover{
    color: black;
}
.msg h2{
    color: black;
}
.msg p{
    color: black;
}
footer h3{
    color: black;
    text-decoration: underline;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
p {
    color: black;
    font-family: "Lora";
}